---

---

<div class="about-container">
  <p>El Cajón del aprendizaje es un proyecto creado por Vicente Gavilá donde guarda pequeños 'tips' y consejos que ha ido aprendiendo a lo largo de su carrera como programador y en los cursos que ha completado.</p>
</div>

<style>
  .about-container {
    max-width: 80rem;
    padding: 1rem;
    font-size: 1.8rem;
  }
</style>