---
import logoCajon from "../../assets/img/logoCajon.webp";
// Definimos las props que el componente recibirá
const { showHeading = false, mini = true, textHeading = 'Bienvenido al Cajón del aprendizaje'} = Astro.props;
---

<div class="container">
  <img src={logoCajon.src} alt="Imagen descriptiva" class:list={["image", {mini: mini}]} />
  {
    showHeading && (
      <h1 class:list={["heading", {mini: mini}]}>{textHeading}</h1>
    )
  }
</div>

<style>
  .container {
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;
  }
  .image {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.8rem;
  }
  .heading {
    font-size: 3rem;
    color: #333;
    text-align: center;
    max-width: 30rem;
  }
  .image.mini {
    max-width: 4rem;
    max-height: 4rem;
  }
  .heading.mini{
    font-size: 1.6rem;
    max-width: 25rem;
    color: #fff;
  }
</style>
